:host {
  @apply block h-full;
}

@media (max-width: 767px) {
  aside {
    box-shadow: 8px 0 15px -3px rgb(0 0 0 / 0.1);
  }

  .sidebar-closed main {
    margin-left: 0 !important;
  }
}

.transition-margin {
  transition-property: margin;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
