<div class="container mx-auto p-4">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold text-gray-800">Cattle List</h1>
    <button
      pButton
      icon="pi pi-plus"
      label="Add Cattle"
      title="Add new cattle"
      class="border p-2 rounded-md bg-sky-500 text-white"
      routerLink="/cattle/add"
    ></button>
  </div>

  <p-table
    [value]="cattleList"
    [rows]="10"
    [paginator]="true"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Breed</th>
        <th>Image</th>
        <th>Weight</th>
        <th>Price</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cattle>
      <tr>
        <td class="font-semibold">{{ cattle.breed }}</td>
        <td>
          <img
            [ngSrc]="cattle.image"
            [alt]="cattle.breed + ' image'"
            [title]="cattle.breed + ' image'"
            width="100"
            height="75"
            class="rounded-lg object-cover h-[75px] w-[100px]"
          />
        </td>
        <td>{{ cattle.weight | number }} lbs</td>
        <td>{{ (cattle.price | number) || "0" | bdt }}</td>
        <td>
          <p-tag
            [value]="cattle.status | titlecase"
            [severity]="cattle.status === 'available' ? 'success' : 'danger'"
          >
          </p-tag>
        </td>
        <td>
          <button
            pButton
            icon="pi pi-pencil"
            title="Edit cattle"
            class="p-button-warning p-button-sm"
            (click)="editCattle(cattle.id)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
